
.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: left;
  margin-left: 5vw;
}

.bar {
  border: green 2px;
  height: 36px;
  width: 256px;
  text-align: left;
  background-color:rgb(241, 241, 241);
}

.button:hover {opacity: 1}