/* body{
    background-color: #1b2838;
    height: 100%;
    width: 100%;
} */

h1{
    color: #c94242;
    font-size: 4vw;
    font-family: 'Inconsolata', monospace;
    padding-bottom: .25em;
    padding-top: .25em;
}

h2{
    color: gray;
    font-size: 2vw;
    padding-bottom: 2vw;
    font-family: 'Inconsolata', monospace;
}

h3{
    color: gray;
    font-size: 1vw;
    font-family: 'Inconsolata', monospace;
}
.songtile{
    color: White;
}
.exploreMain{
    background-color: black;
    
}
.exploreBoad{
    background-color: orange;
}
.explore{
   height: 40vh;
   width : 60vw;
   background-color: black;
   border-color: red;border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  color:aliceblue;
  margin: auto;
  margin-top: 10%;



}
