/* body{
    background-color: #1b2838;
    height: 100%;
    width: 100%;
} */

h1 {
    color: #c94242;
    font-size: 4vw;
    font-family: 'Inconsolata', monospace;
    padding-bottom: .25em;
    padding-top: .25em;
}

h2 {
    color: gray;
    font-size: 2vw;
    padding-bottom: 2vw;
    font-family: 'Inconsolata', monospace;
}

h3 {
    color: gray;
    font-size: 1vw;
    font-family: 'Inconsolata', monospace;
}

.songtile {
    color: White;
}

.exploreMain {
    background-color: black;

}

.exploreBoady {
    background-color: blue;
}

.explore {
    height: 70vh;
    /* 40 */
    width: 90vw;
    /* 60 */
    background-color: black;
    border-color: red;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    color: aliceblue;
    margin: auto;
    margin-top: 10%;



}
.helperShoopingCartDiv{
    background-color:black;
    text-align: center;
    float: center;
    width: 50vw;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    /* position: fixed; */
    z-index: 1;
    transition: all 1s;
}

.shopingCart {
    

    text-align: center;
    display: flex;
    width: 80%;
   height: 170%;
   margin: 10px;
   padding: 5px;
   overflow: auto;
    background-color: lightcyan;
    border-color: red;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    float: center;
}