body {
  height: 100%;
}

/* UploadMusic Component*/
.deleteButton {
  background-color: #eb4324;
  border: 0;
  padding: 10px 20px 10px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  border-radius: 20px;
}

.uploadButton {
  margin-left: 10px;
  background-color: #10b510;
  border: 0;
  padding: 10px 20px 10px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  border-radius: 20px;
}

.form {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  font-size: "4vw";
  color: white;
  background: rgba(190, 195, 217, 0.42);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px);
  border: 1px solid rgba(190, 195, 217, 0.4);
}

/*MusicPlayer.js */
.musicPlayerPage {
  height: "600vh";
  width: "100vw";
  background-color: "1b2838";
  margin-bottom: 30px; /* Add a bottom margin to avoid content overlay */
  display: table;
}
.contentRow {
  display: flex;
}
.contentRow::after {
  content: "";
  display: table;
  clear: both;
}
.searchcont {
  float: left;
  width: 80%;
  padding: 10px;
  overflow: hidden;
}
.queueContainer {
  width: 20%;
  background-color: rgb(100, 99, 99);
  position: absolute;
  top: 16%;
  right: 5px;
  float: right;
  height: 100%;
}
.queueTitle {
  color: white;
  font-size: x-large;
  border-bottom: 5px groove;
}
.queuedSong {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  color: white;
  padding: 10px;
  padding-left: 20px;
  margin: 10px;
  border-radius: 10px;
}
.queuedSong:hover {
  background-color: rgb(68, 66, 66);
}
.queuedSong button {
  float: right;
  color: white;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
  opacity: 0.5;
}
.queuedSong button:hover {
  opacity: 1;
}
.content {
  padding: 20px;
}
ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
li {
  list-style-type: none;
}
.cover {
  height: 21vw;
}
.cover:hover .hoverPlay {
  opacity: 1;
}
.hoverPlay {
  width: 10vw;
  transition: 0.5s ease;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -150%);
  -ms-transform: translate(100%, 100%);
  text-align: center;
  align-content: center;
}
.hit {
  background: #333;
  width: 25vw;
  color: #fff;
  padding: 2% 0 2%;
  list-style-type: none;
  border-radius: 5px;
  margin: 1vh 1vw 1vh 3vw;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.8),
    -6px -6px 8px rgba(211, 211, 211, 0.151);
}
.hit:hover {
  cursor: pointer;
}

h4,
h3 {
  padding-left: 10%;
}

.audioPlayer {
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */
}

.queueButton {
  margin-left: 0.5vw;
  padding: 1vh 1vw;
  background: rgb(24, 167, 24);
  border: none;
  border-radius: 0.75vw;
  float: right;
  position: relative;
  top: -55px;
  left: -5%;
}
.queueButton:hover {
  opacity: 0.5;
}

/* Autocomplete Searchbar component*/
.navSearch input {
  width: 15vw;
  text-justify: auto;
  margin: none;
  border: none;
}
